<div class="add-epic">
  <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
    <p>
      <mat-form-field>
        <input matInput name="title" placeholder="Title" [(ngModel)]="epicData.title" required minlength="3">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <textarea name="description" matInput placeholder="Description" [(ngModel)]="epicData.description"></textarea>
      </mat-form-field>
    </p>

    <div mat-dialog-actions>
      <button mat-button (click)="cancel()">Cancel</button>
      <button mat-button>Ok</button>
    </div>
  </form>
</div>
